.about {
  flex-basis: 100vh;
  background-image: linear-gradient($darkBlue, $lightBlue);
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  z-index: 1;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  &__image {
    max-height: 33vh;
    display: none;
    justify-self: center;
    animation: opacity 1s 0.75s both;
    @media (min-width: 768px) {
      display: block;
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }
  }
  &__title {
    display: none;
    text-align: center;
    animation: opacity 1s 0.75s both;
    color: $blue;
    @media (min-width: 768px) {
      font-size: 4rem;
      display: block;
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }
  }
  &__home {
    display: flex;
    padding-left: 20px;
    color: $blue;
    justify-content: space-around;
    align-items: center;

    animation: slideRight 1s;
    @media (min-width: 768px) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    &-text {
      max-width: 80%;
      padding-left: 20px;
      color: white;
      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }
  }
  &__school {
    display: flex;
    padding-right: 20px;
    justify-content: space-around;
    align-items: center;
    color: $blue;
    animation: slideLeft 1s 0.5s both;
    @media (min-width: 768px) {
      font-size: 2rem;
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
    }
    &-text {
      max-width: 80%;
      padding-right: 20px;
      color: white;
    }
  }
  &__code {
    display: flex;
    padding-left: 20px;
    justify-content: space-around;
    align-items: center;
    color: $blue;
    animation: slideRight 1s 1s both;
    @media (min-width: 768px) {
      font-size: 2rem;
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
    &-text {
      max-width: 80%;
      padding-left: 20px;
      color: white;
    }
  }
  &__guitar {
    display: flex;
    padding-right: 20px;
    justify-content: space-around;
    align-items: center;
    color: $blue;
    animation: slideLeft 1s 1.5s both;
    @media (min-width: 768px) {
      font-size: 2rem;
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }
    &-text {
      max-width: 80%;
      padding-right: 20px;
      color: white;
    }
  }

  & .fas {
    font-size: 2rem;
    @media (min-width: 768px) {
      font-size: 6rem;
    }
  }
}
