@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
}
@keyframes slideBar {
  from {
    width: 0;
  }
}

@keyframes wallHeight {
  from {
    height: 0;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
