.contact {
  flex-basis: 50vh;
  display: flex;
  background-image: linear-gradient(
    -45deg,
    $darkViolet,
    $darkBlue,
    $lightGreen,
    $lightGreen
  );
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  align-items: stretch;
  overflow: hidden;
  z-index: 1;
}

.info {
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  animation: slideRight 1s;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
  &__title {
    @media (min-width: 768px) {
      font-size: 5rem;
    }
  }
}
.wall {
  align-self: center;
  height: 40vh;
  border: 1px solid $violet;
  animation: wallHeight 0.5s 1s both;
}

.social {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  animation: slideLeft 1s 0.5s both;
  & a {
    color: black;

    &:hover {
      color: $violet;
    }
  }
  & .fab {
    font-size: 3rem;
    @media (min-width: 768px) {
      font-size: 5rem;
    }
  }
}
