.contact {
  flex-basis: 50vh;
  display: flex;
  background-color: $blue-color;
  align-items: stretch;
  overflow: hidden;
}

.info {
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  animation: slideRight 1s;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
  &__title {
    @media (min-width: 768px) {
      font-size: 5rem;
    }
  }
}
.wall {
  align-self: center;
  height: 40vh;
  border: 1px solid black;
  animation: wallHeight 0.5s 1s both;
}

.social {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  animation: slideLeft 1s 0.5s both;
  & a {
    color: black;
  }
  & .fab {
    font-size: 3rem;
    @media (min-width: 768px) {
      font-size: 5rem;
    }
  }
}
