.project {
  flex-basis: 100vh;
  display: flex;

  &__github {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

    &-text {
      font-size: 2rem;
      color: white;
    }
  }
  &__coming-soon {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    &-text {
      font-size: 2rem;
      color: white;
    }
  }

  & .fab {
    font-size: 10rem;
    color: white;
  }
}

.container-fluid {
  padding: 0 !important;
  flex-basis: 100% !important;
}

.carousel {
  height: 100% !important;
}
.carousel-item {
  height: 100% !important;
}
.view {
  height: 100% !important;
}
