.skill {
  flex-basis: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5vw;
  @media (min-width: 768px) {
  }
  &__html {
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: opacity 1s both;
  }
  &__css-sass {
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation: opacity 1s 0.25s both;
  }
  &__javascript {
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation: opacity 1s 0.5s both;
  }
  &__react {
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation: opacity 1s 0.75s both;
  }
  &__nodeJS {
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation: opacity 1s 1s both;
  }

  & .my-2 {
    flex-basis: 80%;
  }

  & .fab {
    font-size: 2rem;
    @media (min-width: 768px) {
      font-size: 5rem;
    }

    &.fa-html5 {
      color: #e34f26;
    }
    &.fa-sass {
      color: #cd6799;
    }
    &.fa-js-square {
      color: #f0db4f;
    }
    &.fa-react {
      color: #61dafb;
    }
    &.fa-node-js {
      color: #8cc84b;
    }
  }
}

.progress-bar {
  animation: slideBar 1s 1.5s both;
}
